.landing-page {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .right{
    display: none;
    @media screen and (min-width: 640px) {
      display: block;
    }
    .card-wrapper {
      height: 315px;
      width: 240px;
  
      button {
        display: none;
      }
      .name {
        font-size: medium;
      }
    }
  }

  .left{
    h1{
      line-height: 1;
      margin-bottom: 20px;
    }
    .button-wrapper {
      margin-top: 20px;
      button {
        margin-right: 10px;
      }
    }
    .signin {
      font-size: smaller;
      button:hover {
        color: $color-accent-dark;
      }
    }
  }




}
