.leaderboard-page{
    margin-top: 40px;

    .table-wrapper{
        .table-head, .table-row{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;
            height: 40px;
        }
        .table-row{
            font-weight: 300;
        }
    }
}