.leaderboard-page {
  margin-top: 40px;

  .table-wrapper {
    .table-head,
    .table-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;
      height: 40px;
    }
    .table-row {
      font-weight: 300;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.1s ease-in-out;
      &:hover {
        background: #00000025;
      }
    }
  }
}

.spinner-wrapper {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
