.avatar{
    border-radius: 50%;
}

.delete-button{
    margin-top: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid red;
    color: red;

    &:hover{
        background: red;
        color: #FFF;
    }
}

.buttons-wrapper{
    display: flex;
    align-items: center;

    .delete-button{
        margin: 0 5px;
        margin-top: 10px;
    }

    .cancel{
        border: 1px solid black;
        color: black;
    
        &:hover{
            background: black;
            color: #FFF;
        }
    }
}