.delete-button {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid red;
  color: red;

  &:hover {
    background: red;
    color: #fff;
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;

  .delete-button,
  .black-button {
    margin: 0 5px;
    margin-top: 10px;
  }
}

.black-button {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
  color: black;

  &:hover {
    background: black;
    color: #fff;
  }
}

.favorites-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  .card-wrapper {
    margin: 5px;
    height: 315px;
    width: 240px;
    .name {
      font-size: medium;
    }
    .card-container {
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }
}

.profile-wrapper {
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: unset;
  grid-gap: 20px;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 640px) {
    grid-template-columns: 150px 1fr;
    grid-template-rows: unset;
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 640px) {
      flex-direction: column;
      justify-content: flex-start;
    }
    .profile-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      .name {
        font-size: large;
      }
      .score {
        font-size: small;
      }

      .avatar {
        border-radius: 50%;
        border: 2px solid #000;
        width: 100px;
        height: 100px;

        img {
          border-radius: 50%;
        }
      }
    }

    .button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      .delete-button,
      .black-button {
        margin-top: 10px;
        padding: 2.5px 5px;
        @media screen and (min-width: 640px) {
          padding: 5px 10px;
        }
      }
    }
  }

  .favorites {
    width: 100%;
  }

  .profile,
  .favorites {
    padding: 0 10px;
  }
}
