.card-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.5);
  .card {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
      .star-wrapper,
      .info-wrapper {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    .icon-wrapper {
      position: relative;
      &:hover {
        .tooltip {
          opacity: 1;
          transform: translateX(-50%) translateY(0px);
        }
      }
      .tooltip {
        position: absolute;
        top: -22px;
        left: 50%;
        color: #000;
        font-size: x-small;
        white-space: nowrap;
        padding: 1px 3px;
        transform: translateX(-50%) translateY(5px);
        opacity: 0;
        z-index: 1000;
        pointer-events: none;
        transition: all 0.15s ease-in-out;
      }
    }

    .star-wrapper {
      position: absolute;
      top: 8px;
      right: 10px;
      transition: all 0.15s ease-in-out;
      transform: translateY(-10px);
      opacity: 0;
      color: #fff;
      font-size: 1.5rem;

      &:hover {
        color: #ffc300;
      }
    }

    .info-wrapper {
      position: absolute;
      top: 8px;
      left: 10px;
      transition: all 0.15s ease-in-out;
      transform: translateY(-20px);
      opacity: 0;
      color: #fff;
      font-size: 1.5rem;

      &:hover {
        color: #eee;
      }
    }

    .types-container {
      display: flex;
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
    .id-number {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2.5rem;
      font-weight: 700;
      opacity: 0.5;
    }
    .name {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1;
      text-transform: capitalize;
    }
  }

  img {
    user-select: none;
    pointer-events: none;
  }
}
