.item-wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 640px) {
    flex-direction: row;
    align-items: center;
  }

  .select-wrapper {
    position: relative;
    color: #666;
    cursor: pointer;

    &:focus-within,
    &:hover {
      color: #000;
    }

    select,
    input {
      appearance: none;
      font-family: inherit;
      border: none;
      outline: none;
      font-family: inherit;
      background: none;
      font-size: 0.75rem;
      padding: 5px 10px 5px 20px;
      color: inherit;
      max-width: 180px;
    }

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
}

.undo-wrapper {
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
