.flex-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.evolution-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .evolution-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .evolution-img {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      cursor: pointer;
    }
  }
}

.cards-container {
  margin-top: 40px;
  display: grid;
  grid-template-rows: 420px 1fr;
  grid-template-columns: unset;
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
  height: max-content;
  font-size: small;
  width: 100%;

  .details-wrapper {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    grid-template-rows: unset;
    grid-template-columns: 320px 1fr;
  }

  .details {
    margin: 20px 0;
    height: max-content;
    padding: 0 20px;
  }
  .card-wrapper {
    margin: 0;
  }
  .biotrain-content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    .flavor {
      word-wrap: break-word;
      margin-bottom: 10px;
    }
  }
  .stats-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .stats {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.title {
  font-weight: bold;
  font-size: medium;
}
