.navbar {
  display: none;

  @media screen and (min-width: 640px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span {
    font-size: 0.825rem;
    cursor: pointer;
    &:hover {
      color: $color-accent-light;
    }
  }

  .title-wrapper {
    display: flex;
    align-items: center;

    h2 {
      transition: all 0.15s ease-in-out;
      line-height: 1;
      margin-right: 20px;
      &:hover {
        color: $color-accent-light;
      }
    }
  }

  .web-menu {
    display: flex;
    align-items: center;
    .nav-items {
      margin-left: 20px;
    }

    .dropdown-wrapper {
      margin-left: 10px;
      border-left: 1px solid #fff;
      padding-left: 10px;
      .account-button {
        position: relative;
        svg {
          transform: rotate(0deg);
          transition: all 0.2s ease-in-out;
        }
        &:hover,
        &:focus,
        &:focus-within {
          .dropdown {
            opacity: 1;
            height: 30px;
          }

          svg {
            transform: rotate(180deg);
          }
        }
        .dropdown {
          display: flex;
          align-items: center;
          padding: 5px 15px;
          border-radius: 10px;
          background: #000;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 2;
          height: 0px;
          transition: all 0.2s ease-in-out;
          opacity: 0;
          box-shadow: 0 0 10px 5px #00000050;
        }
      }
    }
  }
}

.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 640px) {
    display: none;
  }

  span {
    font-size: 1.5rem;
  }
}

header {
  width: 100%;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 10px 5px #00000050;

  .active {
    color: $color-accent-light;
  }
}
