$blue-accent: #00b4d8;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    transition: all 0.15s ease-in-out;
    &:hover {
      color: $blue-accent;
    }
  }
  .web-menu {
    .nav-items {
      margin-left: 20px;
      transition: all 0.15s ease-in-out;
      &:hover {
        color: $blue-accent;
      }
    }

    .active {
      color: $blue-accent;
    }
  }
}

header{
  width: 100%;
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 10px 5px #00000050;
}
