@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

$color-accent-light: #ff5a5f;
$color-accent-dark: #c81d25;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-image: url("/bg-tile.png");
  background-repeat: repeat;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  @media screen and (min-width: 640px) {
    max-width: 640px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.mt-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.card-wrapper {
  height: 315px;
  width: 240px;
  user-select: none;
  margin-bottom: 50px;
  margin-top: 75px;
  position: relative;

  @media screen and (min-width: 640px) {
    height: 420px;
    width: 320px;
  }
}
