.exploreplay-page {
  width: 100%;
  min-height: 90vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  .dash{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;

    span{
      margin-left: 5px;
      color: #ef2b2b;
    }
  }

  .options-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin round-shadow {
    background: #fff;
    box-shadow: 0 0px 10px 1px #00000050;
    border-radius: 9999px;
  }

  .item-wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include round-shadow;

    .select-wrapper{
      position: relative;
      color: #999;

      &:focus-within {
        color: #000;
      }

      select, input {
        appearance: none;
        font-family: inherit;
        border: none;
        outline: none;
        font-family: inherit;
        font-size: 0.75rem;
        padding: 5px 10px 5px 20px;
        color: inherit;
        max-width: 180px;
      }

      select{
        cursor: pointer;
      }


      svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }

    }
  }
}
