@import "config";
@import "@components/Nav/navbar";
@import "@components/Leaderboard/leaderboard";
@import "@components/Explore/explore";

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
